html {
    background-image: linear-gradient(to bottom, rgba(90, 46, 185, 0.915), rgba(10, 101, 30, 0.882))
}

header {
    text-align: center;
    color:rgb(0, 0, 0);
    border-style: outset;
    border-color:rgba(67, 18, 173, 0.915);
    border-radius: 80%;
    text-shadow: 2px 2px 4px #888;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgba(22, 147, 22, 0.696);
    text-shadow: 4px 4px 8px #10054a;
}

h2 {
    text-shadow:2px 2px 4px #888;
    font-style: italic;
}

ul {
    border-style: outset;
    border-color: rgba(67, 18, 173, 0.915);
    border-radius: 10px;
}

a {
    color: blue;
}

section {
    border-style: outset;
    border-radius: 50%;
    border-color:rgba(67, 18, 173, 0.915);
    text-align: center;
}

* {
    
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
    
    
}